**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage
**/.env
**/.env.local
**/.env.*.local
**/.git
**/.gitignore
**/.vscode
**/.idea
**/.DS_Store
**/*.log
**/README.md
**/CHANGELOG.md
**/.npmrc
!.npmrc
docker/data
docker/volumes
docs/
.github/
